version: "3.9"
services:
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: best_project_ever_db_user_01
      POSTGRES_DB: best_project_ever_db_01
      POSTGRES_PASSWORD: password
    volumes:
      - ./data/db:/var/lib/postgresql/data
  api: &python
    build: .
    command: ["sh", "-c", "./docker-entrypoint.sh"]
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      POSTGRES_NAME: best_project_ever_db_01
      POSTGRES_USER: best_project_ever_db_user_01
      POSTGRES_PASSWORD: password
    depends_on:
      - db
      - rabbitmq
      - celery_worker
  rabbitmq:
    image: rabbitmq:3.7-alpine
  celery_worker:
    <<: *python
    command: celery -A bestprojectever worker -l info --pool=solo
    ports: []
    depends_on:
      - rabbitmq
      - db
  celery-beat:
    <<: *python
    command: celery -A bestprojectever beat -l info
    ports: []
    depends_on:
      - rabbitmq
